/* Light theme variables */
:root {
    --background-color: #DEDDD9;
    --productContainer-background-color: #FFF;
    --text-color: #333;
    --link-color: #0000ff;
    /* Add other variables as needed */
}

/* Dark theme variables */
[data-theme='dark'] {
    --background-color: #171717;
    --productContainer-background-color: #242223;
    --text-color: #ffffff;
    --link-color: #0096ff;
    /* Add other variables as needed */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    overflow: hidden;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    font-family: 'Poppins', sans-serif;
    /*background: #171717;*/
}

.toggleBtnContainer {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    display: none;
}

.switch {
    margin: 0 auto;
    position: relative;
    display: block;
    width: 150px;
    height: 55px;
    background-color: #CECDC7;
    border-radius: 50px;
    cursor: pointer;
}

.circle {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
    top: 5px;
    left: 6px;
    border: 10px solid white;
    border-radius: 100px;
    transition: 0.4s ease left, 0.4s ease background-position;
    z-index: 2;
}

.bi-brightness-high-fill {
    color: #FFD700;
}

/*.bi-moon-fill {*/
/*    color: ;*/
/*}*/

.toggle:checked + .switch .circle {
    left: 100px;
    background-position: -150px 0;
}

.toggle:checked + .switch {
    background: #212121;
}

.productContainer {
    background: var(--productContainer-background-color);
    /*background: #242223;*/
    width: 300px;
    height: auto;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.productImageContainer {
    width: 100%;
    height: 250px;

    display: flex;
    overflow-x: auto;
    align-items: center;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    -webkit-overflow-scrolling: touch;

    /*margin-bottom: 10px;*/

}

.productImageContainer::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.productImageContainer img {

    /* preventing overstretching the image */
    max-width: 100%;
    max-height: 216px;
    flex: 0 0 auto;

    border-radius: 15px;
    margin-right: 10px;

    /* scrolling properties */
    scroll-snap-align: start;
}

.custom-scrollbar {
    display: flex;
    justify-content: center;
    gap: 3px; /* Space between dots */
    position: relative;
    top: -40px;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50px;
    display: inline-block;
}

.active {
    width: 20px; /* Active dot is wider */
    background-color: #FFF; /* Active dot has a different color */
}

.titleAndReviewContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    /*color: white;*/
}

.reviewContainer {
    display: flex;
    /*font-weight: 500;*/
    width: 78px;
    justify-content: space-between;
    color: var(--text-color);
}

.bi-star-fill {
    color: #FFD700;
}

.reviewCount {
    color: #777;
}

.description {
    color: #777;
    /*margin-bottom: 8px;*/
}

.extraInfoContainer {
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}

.weeklyRate {
    color: #777;
}


.dotSeparator {
    height: 5px;
    width: 5px;
    background-color: #777;
    border-radius: 50%;
    display: inline-block;
    padding: 4px;
}
